    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 20px;
    }

    .container {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        max-width: 600px;
        margin: 80px auto 0;
    }

    h1 {
        margin: 0;
    }

    h2 {
        color: #555;
        margin-top: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }

    li {
        margin: 8px 0;
        font-size: 1.1em;
    }

    strong {
        color: #00f449;
    }

    .back-button {
        position: fixed;
        left: 10px;
        top: 10px;
        background-color: #a4ff24;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }


  
  .back-button {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: #a4ff24;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: #00540b;
}
